@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Order";
    //bool IsSupplier = User.IsInRole("supplier");
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>Price</th>
            <th>User</th>
            <th>Product</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderViewModel o in Model)
        {
        <tr>
            <td>@o.Id</td>
            <td>@o.Status</td>
            <td>@o.Price$</td>
            <td>@o.User.FullName</td>
            <td>
                @foreach (ProductViewModel p in o.Products)
                {
                    <span>@p.Name, </span>
                }
            </td>

            @if (ViewBag.UserOption == UserOptions.Customer)
            {
                @if (o.Status == StatusTypeViewModel.Init)
                {
                    <td>
                        <a asp-controller="Orders" asp-action="FinishOrder" asp-route-orderId="@o.Id">Finish</a>
                        /
                        <a asp-controller="Orders" asp-action="CancelOrder" asp-route-orderId="@o.Id">Cancel</a>
                    </td>
                }
                @if (o.Status == StatusTypeViewModel.Confirmed)
                {
                    ViewData["OrderId"] = o.Id;
                    string paymentPopupId = $"#paymentPopup{o.Id}";

                    <td>
                        <button class="btn btn-danger" data-toggle="modal" data-target="@paymentPopupId">Pay</button>
                        <partial name="PaymentPopup" model="new InvoiceViewModel()" view-data="ViewData" />
                    </td>
                }
                @if (o.Status == StatusTypeViewModel.Paid)
                {
                    ViewData["OrderId"] = o.Id;
                    string invoicePopupId = $"#invoicePopup{o.Id}";

                    <td>
                        <button onclick="getInvoiceData(@o.Id)" class="btn btn-danger" data-toggle="modal" data-target="@invoicePopupId">Show Invoice</button>
                        <partial name="InvoicePopup" view-data="ViewData" />
                    </td>
                }
            }
            else if (ViewBag.UserOption == UserOptions.Supplier || ViewBag.UserOption == UserOptions.Admin)
            {
                @if (o.Status == StatusTypeViewModel.Processing)
                {
                    <td>
                        <a asp-controller="Orders" asp-action="ConfirmOrder" asp-route-orderId="@o.Id">Approve</a>
                        /
                        <a asp-controller="Orders" asp-action="DeclineOrder" asp-route-orderId="@o.Id">Decline</a>
                    </td>
                }
                @if (o.Status == StatusTypeViewModel.Paid)
                {
                    <td>
                        <a asp-controller="Orders" asp-action="MarkAsDelivered" asp-route-orderId="@o.Id">Mark as delivered</a>
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>

<script>
    function getInvoiceData(orderId) {
        console.log("live!")
        fetch(`http://localhost:62019/Invoices/ShowInvoice?orderId=${orderId}`)
            .then(res => res.json())
            .then(data => {

                console.log(data)

                let paymentMethod = document.getElementById(`IPPaymentMethod${orderId}`)
                let address = document.getElementById(`IPAddress${orderId}`)
                let price = document.getElementById(`IPPrice${orderId}`)

                paymentMethod.value = data.PaymentMethod
                address.value = data.Address
                price.value = data.Price + "$"
            })
    }
</script>